# 协议类型
pto_type = PK_FK_VIEW

# element byte length
element_byte_length = 8

# 对数集合大小（log(n)）
log_set_size = 10, 12

# 对数payload bit length
log_payload_bit_len = 6, 7, 8

# silent
silent = false

# 协议名称
view_pto_name = BASELINE
# 子协议信息
is_binary_share = true
# protocol name
payload_psi_pto_name = RS21
# specific config
cuckoo_hash_bin_type = NO_STASH_PSZ18_3_HASH

append_string = baseline

server_name = server
server_ip = localhost
server_port = 8090
client_name = client
client_ip = localhost
client_port = 8091