# 协议类型
pto_type = PK_FK_VIEW

# element byte length
element_byte_length = 8

# 对数集合大小（log(n)）
log_set_size = 12, 16, 20

# 对数payload bit length
log_payload_bit_len = 4, 6, 8

# silent
silent = false

# 协议名称
view_pto_name = PHP24
# 子协议信息
pmap_pto_name = PID_BASED
pid_pto_name = BKMS20_BYTE_ECC

append_string = _PID_BASED

server_name = server
server_ip = 192.168.1.1
server_port = 8090
client_name = client
client_ip = 192.168.1.2
client_port = 8091